<div id="banner_tabs" class="flexslider">
    <ul class="slides">
        <li ng-repeat="item in banners track by $index"><a><img alt=""  src="{{item.imgUrl}}"></a></li>
    </ul>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="javascript:;">Previous</a></li>
        <li><a class="flex-next" href="javascript:;">Next</a></li>
    </ul>
    <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
        <li ng-repeat="item in banners track by $index" banner-init><a>{{$index}}</a></li>
    </ol>
</div>
<div class="about-container">
    <div class="about-content">
        <div class="filter-item mb30" ng-repeat="item in filters track by $index" active-hover><img src={{item.imgUrl}}><img class="filter" src="../src/images/filter{{$index+1}}.png"><img class="filter-des" src="../src/images/filter-des{{$index+1}}.png" alt="introduction"></div>
    </div>
</div>