<div class="content mt300">
 <div class="headline"><img src="../src/images/observed-head.png"></div>
 <div class="pdf-container mt90">
 	<div class="fs-title"><h3>《风尚观察》杂志</h3></div>
 	<div class="pdf-box clearfix">
 		<div class="pdf-img"><img src="../src/images/pdf.png" alt="" /></div>
 		<div class="pdf-des">
 			<p class="pdf-name  pt80">{{pdfName}}</p>
 			<div class="btn-group"><a class="btn" ng-click="showPDF()">立即阅读</a><br/><a class="btn mt30">立即下载</a>
 			</div>
 		</div>
 	</div>
 	<div class="pdf-list">
 		<ul>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 		</ul>
 	</div>
 </div>
</div>