/*less*/

.transform(@css) {
    -webkit-transform: @css;
    -moz-transform: @css;
    -o-transform: @css;
    -ms-transform: @css;
    transform: @css;
}

.transition(@css) {
    -webkit-transition: @css;
    -moz-transition: @css;
    -o-transition: @css;
    -ms-transition: @css;
    transition: @css;
}
@media screen and (max-width:1600px) {
.navbar {
    position: fixed;
    width: auto;
    left: 125px;
    right:125px;
    margin-left: 0;
    padding: 40px 0 40px;
   
}
}
@media screen and (max-width:1500px) {
    .works-list{
    margin-left:-30px;
    }
    .works-list ul li{
    margin-left:30px;
    }
}
@media screen and (max-width:1400px) {
    .wrapper {
        min-width: 1200px;
        width: 1200px;
        padding: 125px 25px 0;
    }
    .navbar {
        left: 50%;
        margin-left: -575px;
        width: 1150px;
        right: 0;
    }

}
