
<div class="header" ng-controller="navCtrl">
    <div class="navbar clearfix" role="navigation"> 
        <div class="navbar-bg"></div>
        <div class="navbar-header fl">      
            <a href="#" class="navbar-brand"><img src="src/images/logo.png"></a>
        </div>
        <ul class="nav navbar-right clearfix">
            <li ng-repeat="item in nav track by $index" active-hover><a class="c9" ui-sref="{{item.link}}"><span class="eng">{{item.eng}}</span><span class="chinese">{{item.chinese}}</span></a></li>
        </ul>
    </div>
</div>
