<div class="content">
    <div class="tab-content" ng-class="{active:tabIndex==1}">
        <div class="works-list clearfix">
            <ul>
                <li ng-repeat="work in worksList0 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList1 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList2 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList3 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" ng-class="{active:tabIndex==2}">
        <div class="works-list clearfix">
            <ul>
                <li ng-repeat="work in worksList0 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList1 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList2 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList3 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" ng-class="{active:tabIndex==3}">
        <div class="works-list clearfix">
            <ul>
                <li ng-repeat="work in worksList0 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList1 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList2 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="work in worksList3 track by $index">
                    <a class="works-img" work-show active-hover>
                        <img ng-src="{{work.example_src}}" />
                    </a>
                    <p class="works-des">
                        <span class="company-name f14">{{work.example_name}}</span>
                        <span class="f12">{{work.example_summary}}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>